<template>
  <div class="home">
    <!-- SECTION HEADER -->
    <header class="section1 justify-content-center">
      <vs-row>
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
          <div>
            <vs-row>
              <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                <h1 class="content">Solusi Teknologi Administrasi Terpadu</h1>
              </vs-col>
            </vs-row>
            <p class="content-paragraph">Kami hadir untuk membantu kegiatan prakerin dengan membangun Aplikasi
              yang lebih bermanfaat, efisien dalam memonitoring siswa</p>
          </div>
        </vs-col>
      </vs-row>
      <vs-button color="white" text-color="#3DA2F5" class="btnStarted">Mulai</vs-button>
    </header>

    <div class="illustrasi-wrapper"><img src="@/assets/Gambar kotak.svg" alt="K-MON Image" id="image"></div>

    <!-- SECTION BENEFIT -->
    <section id="benefit">
      <div class="container">
        <vs-row class="container-row">
          <vs-col type="flex" vs-justify="center" id="content0" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12">
            <div>
              <img src="@/assets/logo-mudah.svg" class="image" alt="KMON Content">
              <h5>Mudah</h5>
              <p>Penggunaan aplikasi yang mudah</p>
            </div>
          </vs-col>
          <vs-col type="flex" vs-justify="center" id="content1" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12">
            <div>
              <img src="@/assets/logo-terpecaya.svg" alt="KMON Content">
              <h5>Terpercaya</h5>
              <p>Telah digunakan oleh banyak orang </p>
            </div>
          </vs-col>
          <vs-col type="flex" vs-justify="center" id="content2" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12">
            <div>
              <img src="@/assets/logo-efisien.svg" alt="KMON Content">
              <h5>Efisien</h5>
              <p>Hemat waktu & tenaga</p>
            </div>
          </vs-col>
          <vs-col type="flex" vs-justify="center" id="content3" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12">
            <div>
              <img src="@/assets/logo-aman.svg" class="image" alt="KMON Content">
              <h5>Aman</h5>
              <p>Dilindungi dengan keamanan terbaik</p>
            </div>
          </vs-col>
        </vs-row>
      </div>
    </section>

    <hr id="garis-body">

    <!-- SECTION FITUR -->
    <section class="container" id="fitur">
      <vs-row>
        <vs-col vs-type="flex" vs-justify="center" class="body body-content" vs-align="left" vs-lg="4" vs-sm="12"
          vs-xs="12">
          <img src="@/assets/Absen.svg" class="img-fitur" alt="KMON content">
        </vs-col>
        <vs-col vs-justify="center" class="body body-content" vs-align="center" vs-w="8" vs-sm="12" vs-xs="12">
          <div class="fitur-content">
            <h3 class="heading-body">Presensi</h3>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem iaculis viverra sagittis dictum.
              Commodo morbi consectetur scelerisque aliquet arcu enim placerat erat.</p>
          </div>
        </vs-col>
      </vs-row>

      <vs-row>
        <vs-col vs-justify="center" class="body body-content" vs-align="center" vs-w="8" vs-sm="12" vs-xs="12">
          <div class="fitur-content-right">
            <h3 class="heading-body-right">Lihat Presensi</h3>
            <p class="text-right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem iaculis viverra sagittis dictum.
              Commodo morbi consectetur scelerisque aliquet arcu enim placerat erat.</p>
          </div>
        </vs-col>
        <vs-col vs-type="flex" class="body body-content" vs-justify="center" vs-align="left" vs-lg="4" vs-sm="12"
          vs-xs="12">
          <img src="@/assets/Lihat absen.svg" class="img-fitur" alt="KMON content">
        </vs-col>
      </vs-row>

      <vs-row>
        <vs-col class="body body-content" vs-type="flex" vs-justify="center" vs-align="left" vs-w="4" vs-sm="12"
          vs-xs="12">
          <img src="@/assets/Tambah jurnal.svg" class="img-fitur" alt="KMON content">
        </vs-col>
        <vs-col vs-justify="center" class="body body-content" vs-align="center" vs-w="8" vs-sm="12" vs-xs="12">
          <div class="fitur-content">
            <h3 class="heading-body">Tambah Jurnal</h3>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem iaculis viverra sagittis dictum.
              Commodo morbi consectetur scelerisque aliquet arcu enim placerat erat.</p>
          </div>
        </vs-col>
      </vs-row>

      <vs-row>
        <vs-col vs-justify="center" class="body body-content" vs-align="center" vs-w="8" vs-sm="12" vs-xs="12">
          <div class="fitur-content-right">
            <h3 class="heading-body-right">Lihat Jurnal</h3>
            <p class="text-right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem iaculis viverra sagittis dictum.
              Commodo morbi consectetur scelerisque aliquet arcu enim placerat erat.</p>
          </div>
        </vs-col>
        <vs-col class="body body-content" vs-type="flex" vs-justify="center" vs-align="left" vs-w="4" vs-sm="12"
          vs-xs="12">
          <img src="@/assets/Lihat jurnal.svg" class="img-fitur" alt="KMON content">
        </vs-col>
      </vs-row>
    </section>

    <!-- SECTION TESTIMONI -->
    <section id="testimoni">
      <p id="text-testimoni">TESTIMONI</p>
      <h4 class="text-cerita">CERITA TENTANG MEREKA</h4>
      <vs-row vs-justify="center" class="row-testimoni" vs-type="flex">
        <vs-col vs-justify="center" vs-align="center" vs-type="flex">
          <splide :options="options" id="slideTestimoni">
            <splide-slide>
              <vs-card class="cardx" id="card" fixedHeight>
                <h5 class="head-card">“Modern look & <br>
                  trending design”</h5>
                <div class="text-card">
                  <span>Fitur dan kegunaanya sangat
                    bermanfaat, aplikasinya juga
                    cukup efisien saat digunakan
                    serta desain yang simple namun tetap menarik. </span>
                </div>
                <div slot="footer">
                  <vs-row>
                    <vs-col vs-justify="center" vs-align="center" vs-w="6">
                      <img src="@/assets/Profile-card.svg" class="image-profile" alt="Foto-testimoni">
                    </vs-col>
                    <vs-col vs-align="center" vs-w="6">
                      <h6 class="name-card">Amanda</h6>
                      <p class="job-card">Founder</p>
                    </vs-col>
                  </vs-row>
                </div>
              </vs-card>
            </splide-slide>
            <splide-slide>
              <vs-card class="cardx" id="card" fixedHeight>
                <h5 class="head-card">“Modern look & <br>
                  trending design”</h5>
                <div class="text-card">
                  <span>Fitur dan kegunaanya sangat
                    bermanfaat, aplikasinya juga
                    cukup efisien saat digunakan
                    serta desain yang simple namun tetap menarik. </span>
                </div>
                <div slot="footer">
                  <vs-row>
                    <vs-col vs-justify="center" vs-align="center" vs-w="6">
                      <img src="@/assets/Profile-card.svg" class="image-profile" alt="Foto-testimoni">
                    </vs-col>
                    <vs-col vs-align="center" vs-w="6">
                      <h6 class="name-card">Amanda</h6>
                      <p class="job-card">Founder</p>
                    </vs-col>
                  </vs-row>
                </div>
              </vs-card>
            </splide-slide>
            <splide-slide>
              <vs-card class="cardx" id="card" fixedHeight>
                <h5 class="head-card">“Modern look & <br>
                  trending design”</h5>
                <div class="text-card">
                  <span>Fitur dan kegunaanya sangat
                    bermanfaat, aplikasinya juga
                    cukup efisien saat digunakan
                    serta desain yang simple namun tetap menarik. </span>
                </div>
                <div slot="footer">
                  <vs-row>
                    <vs-col vs-justify="center" vs-align="center" vs-w="6">
                      <img src="@/assets/Profile-card.svg" class="image-profile" alt="Foto-testimoni">
                    </vs-col>
                    <vs-col vs-align="center" vs-w="6">
                      <h6 class="name-card">Amanda</h6>
                      <p class="job-card">Founder</p>
                    </vs-col>
                  </vs-row>
                </div>
              </vs-card>
            </splide-slide>
          </splide>
        </vs-col>
      </vs-row>
    </section>

    <!-- SECTION FAQ -->
    <section class="section-fitur-collapse" id="faq">
      <h6>FREQUENTLY ASK QUESTION</h6>
      <h4>Ingin menanyakan sesuatu dari kami?</h4>
      <vs-row>
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
          <vs-collapse class="collapse" accordion>
            <hr class="line-collapse">
            <vs-collapse-item>
              <div slot="header">
                <label class="main tittle-collapse"> Apa itu K-MON ? </label>
              </div>
              <p class="paragraph-collapse">SMART atau School Management System for Assesment and Reporting merupakan
                sesuatu sistem informasi untuk mengelola administrasi sekolah berbasis web.</p>
            </vs-collapse-item>

            <vs-collapse-item>
              <div slot="header">
                <label class="tittle-collapse"> Apa itu K-MON ? </label>
              </div>
              <p class="paragraph-collapse">SMART atau School Management System for Assesment and Reporting merupakan
                sesuatu sistem informasi untuk mengelola administrasi sekolah berbasis web.</p>
            </vs-collapse-item>

            <vs-collapse-item>
              <div slot="header">
                <label class="tittle-collapse"> Apa itu K-MON ? </label>
              </div>
              <p class="paragraph-collapse">SMART atau School Management System for Assesment and Reporting merupakan
                sesuatu sistem informasi untuk mengelola administrasi sekolah berbasis web.</p>
            </vs-collapse-item>

            <vs-collapse-item>
              <div slot="header">
                <label class="tittle-collapse"> Apa itu K-MON ? </label>
              </div>
              <p class="paragraph-collapse">SMART atau School Management System for Assesment and Reporting merupakan
                sesuatu sistem informasi untuk mengelola administrasi sekolah berbasis web.</p>
            </vs-collapse-item>
            <hr class="line-collapse">
          </vs-collapse>
        </vs-col>
      </vs-row>
      <vs-button color="white" class="btn-question">Cari tahu pertanyaan lain</vs-button>
    </section>


    <!-- SECTION UNDUH -->
    <section class="unduh-section">
      <vs-row>
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
          <div>
            <h3 id="tunggu">Tunggu Apalagi ?</h3>
            <p class="unduh-content">Bagi Anda, yang sedang mencari solusi untuk memudahkan pengelolaan absensi selama
              PKL
              Anda gunakan kesempatan ini untuk mencoba semua fitur K-MON App.</p>
            <vs-button color="white"
              style="color: #009BF5; font-family: karla; font-style: normal; font-weight: normal; font-size: 14px; margin-top:20px; margin-bottom: 64px;">
              Unduh Sekarang</vs-button>
          </div>
        </vs-col>
      </vs-row>
    </section>

    <!-- SECTION FOOTER -->
    <section class="section-footer">
      <vs-row>
        <vs-col type="flex" vs-justify="center" class="footer footer-content" vs-align="center" vs-w="5" vs-sm="12"
          vs-xs="12">
          <div class="foot">
            <img src="@/assets/k-mon logo.svg" class="kmon-footer" alt="K-Mon logo">
            <p class="content-footer">info@someah.id</p>
            <p class="content-footer">+62 856 2294 222</p>
            <div class="social-media">
              <img src="@/assets/Instagram.svg" class="icons-footer" alt="K-Mon logo">
              <img src="@/assets/In.svg" class="icons-footer-in" alt="K-Mon logo">
            </div>
          </div>
        </vs-col>

        <vs-col type="flex" vs-justify="left" class="footer footer-content" vs-align="left" vs-lg="2" vs-sm="12"
          vs-xs="12">
          <div class="flex-footer">
            <h5 class="tittle-footer">Perusahaan</h5>
            <router-link to="/" class="tittle-footer-content">Tentang Kami</router-link><br>
            <router-link to="/" class="tittle-footer-content">Karir</router-link><br>
            <router-link to="/" class="tittle-footer-content">Blog</router-link>
          </div>
        </vs-col>

        <vs-col type="flex" vs-justify="left" class="footer footer-content" vs-align="left" vs-lg="2" vs-sm="12"
          vs-xs="12">
          <div class="flex-footer">
            <h5 class="tittle-footer">K-MON</h5>
            <router-link to="/" class="tittle-footer-content">Fitur</router-link><br>
            <router-link to="/" class="tittle-footer-content">Panduan</router-link><br>
            <router-link to="/" class="tittle-footer-content">FAQ</router-link>
          </div>
        </vs-col>

        <vs-col type="flex" vs-justify="left" class="footer footer-content" vs-align="left" vs-lg="3" vs-sm="12"
          vs-xs="12">
          <div class="flex-footer">
            <h5 class="tittle-footer">Tersedia Di</h5>
            <img src="@/assets/logoplaystore.svg" class="vector-footer" alt="AppStore Icon"> <br>
            <img src="@/assets/App store.svg" class="vector-footer" alt="Playstore Icon">
          </div>
        </vs-col>
      </vs-row>
      <hr id="garis-footer">
      <p class="end-footer-text">© 2020 PT Someah Kreatif Nusantara. Hak Cipta dilindungi oleh Undang-Undang</p>
      <br>
      <br>
    </section>
    <ScrollUp :scroll-duration="1000" scroll-y="250" />
  </div>
</template>

<script>
  // @ is an alias to /src
  import ScrollUp from 'vue-scroll-up'
  import {
    Splide,
    SplideSlide
  } from '@splidejs/vue-splide';
  import '@splidejs/splide/dist/css/themes/splide-default.min.css';


  export default {
    name: 'Home',
    // Untuk mengatur slide pada section Testimoni
    data() {
      return {
        options: {
          rewind: true,
          type: 'loop',
          perPage: 3,
          pagination: false,
          focus: 'center',
          width: 1100,
          gap: '2rem',
          autoWidth: true,
          autoPlay: true,
        },
      };
    },
    components: {
      // To Scroll Up
      ScrollUp,
      // To Slide Section Testimoni
      Splide,
      SplideSlide
    }
  }
</script>