<template>
  <div id="app">
    <div>
      <vs-navbar id="nav" style="background: linear-gradient(81.89deg, #004A74 2.64%, #007CC2 107.8%);"
        v-model="activeItem" class="nabarx">
        <div slot="title">
          <vs-navbar-title class="navbar-tittle">
            <img src="./assets/k-mon logo.svg" class="logo" alt="K-Mon logo">
          </vs-navbar-title>
        </div>

        <vs-navbar-item index="0">
          <a href="#" v-scroll-to="{
            el: '#benefit', 
            offset: -180
            }">Benefit</a>
        </vs-navbar-item>
        <vs-navbar-item index="1">
          <a href="#" v-scroll-to="{
            el: '#fitur',
            offset: -100
            }">Fitur</a>
        </vs-navbar-item>
        <vs-navbar-item index="2">
          <a href="#" v-scroll-to="{
            el: '#testimoni',
            offset: -150
            }">Testimoni</a>
        </vs-navbar-item>
        <vs-navbar-item index="3">
          <a href="#" v-scroll-to="{
            el: '#faq',
            offset: -150
            }" id="end-items">FAQ</a>
        </vs-navbar-item>
        <vs-navbar-item index="4">
          <vs-button color="white" text-color="#3DA2F5" class="btnSignIn">Sign In</vs-button>
        </vs-navbar-item>
      </vs-navbar>
    </div>
    <router-view id="router-content" />
  </div>
</template>

<script>
  document.title = 'Landing Page K-MON'
  export default {

  }
</script>