@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

.section1 {
  min-height: 95vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 100%;
  max-height: 100%;
  background: linear-gradient(81.89deg, #004A74 2.64%, #007CC2 107.8%);

  .content {
    font-family: Poppins;
    font-weight: 500;
    width: 435px;
    color: white;
    font-size: 40px;
    line-height: 60px;
    padding-top: 154px;
  }

  .content-paragraph {
    font-family: Open sans;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    width: 713px;
    line-height: 24px;
    text-align: center;
    padding-top: 16px;
    color: #ffffff;
  }

  .btnStarted {
    font-family: Open sans;
    font-size: 16px;
    line-height: 24px;
    border-radius: 20px;
    margin-top: 24px;
    width: 124px;
    height: 45px;
  }
}

#image {
  width: 635px;
  height: 415.12px;
  left: 322px;
  margin-top: -180px;
}

#nav {
  padding: 30px;
  position: fixed;
  width: 100%;

  a {
    color: #ffffff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
  }

  #end-items {
    margin-right: 310px;
  }

  .btnSignIn {
    margin-right: 82.5px;
    font-family: karla;
    font-size: 14px;
    line-height: 21px;
    width: 120px;
  }
}

.vue-scroll-up {
  z-index: 9999;
  height: 40px;
  width: 40px;
  position: fixed;
  background-image: url("./assets/Arrow - Up Square.svg");
  background-size: cover;
  background-color: transparent;
  opacity: .7;
  border: 0;
  bottom: 4%;
  right: 4%;
  cursor: pointer;
}

.logo {
  width: 142.3px;
  height: 31.88px;
  margin-left: 80px;
  top: 32px;
}

.header {
  position: absolute;
  max-width: 1280px;
  max-height: 720px;
  left: 0px;
  top: 0px;
  background: linear-gradient(81.89deg, #004A74 2.64%, #007CC2 107.8%);
}

.my-5 {
  margin-top: 3rem !important;
}

.my-5 {
  margin-bottom: 3rem !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: .7;
  border: 2px solid black;
  background: transparent
}

.splide__arrow svg {
  width: 1.2em;
  height: 1.2em
}

.splide__arrow:hover {
  cursor: pointer;
  opacity: .9
}

.splide__arrow:focus {
  outline: none
}

.splide__arrow--prev {
  left: 2em
}

.splide__arrow--prev svg {
  transform: scaleX(-1)
}

.splide__arrow--next {
  right: 2em
}

.container {
  margin-top: 104.67px;
  margin-bottom: 80px;

  .container-row {
    justify-content: center;
    padding-left: 50px;
  }

  #content0,
  #content3 {
    margin-right: 70px;
  }

  #content1,
  #content2 {
    margin-right: 80px;
  }

  h5 {
    margin-top: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #25282B;
  }

  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #52575C;
    margin-top: 12px;
  }
}

.vs-navbar--btn-responsive .btn-responsive-line {
  width: 20px;
  height: 2px;
  background: rgb(252, 252, 252);
  position: relative;
  display: block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

#garis-body {
  margin: 56px auto;
  margin-left: 84px;
  margin-right: 84px;
}

.fitur-content {
  margin-left: 29px;
  padding-right: 300px;

  p {
    color: #000000;
  }
}

.fitur-content-right {
  margin-right: 29px;
  padding-left: 300px;

  p {
    color: #000000;
  }
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  text-align: justify;
}

.text-right {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  text-align: justify;
}

.heading-body {
  font-family: Poppins;
  font-size: 28px;
  margin-top: 130px;
  text-align: left;
}

.heading-body-right {
  font-family: Poppins;
  font-size: 28px;
  margin-top: 130px;
  text-align: right;
}

h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #009BF5;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

#text-testimoni {
  margin-top: 96px;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #009BF5;
}

.text-cerita {
  font-family: Poppins;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.row-testimoni {
  margin-top: 12px;
}

#card {
  background: linear-gradient(90deg, #FFD55B 42.34%, #FFE085 126.28%);
  height: 413px;
  width: 333px;
  text-align: left;

  .head-card {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    margin-left: 42px;
    text-align: left;
    margin-top: 32px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }

  .text-card {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 12px;
    margin-left: 42px;
    margin-right: 42px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .image-profile {
    margin-left: -200%;
    margin-top: 76px;
    margin-right: 5%;
    margin-bottom: 9%;
  }

  .name-card {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    margin-top: 84px;
    margin-left: -180%;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .job-card {
    margin-top: -2px;
    margin-left: -180%;
  }
}

.section-fitur-collapse {
  margin-top: 128px;

  .collapse {
    text-align: left;
    margin-top: 49px;
    width: 670px;
    margin-bottom: 1cm;

    .vs-collapse-item:hover {
      color: #009BF5;
    }

    .line-collapse {
      border: 0px solid #E8E8E8;
    }

    .tittle-collapse {
      font-family: Karla;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
    }

    .main.tittle-collapse {
      font-family: Karla;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
    }

    .paragraph-collapse {
      font-family: Karla;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #52575C;
    }
  }
  .btn-question {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #009BF5;
  }
}

.unduh-section {
  margin-top: 39px;
  background-color: #008EE0;

  #tunggu {
    padding-top: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
  }

  .unduh-content {
    padding-top: 15px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    width: 730px;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;

  }
}

.section-footer {
  background-color: #03213A;
  text-align: left;

  .content-footer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 10px;
  }

  .kmon-footer {
    width: 180px;
    height: 40px;
    left: 85px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .social-media {
    display: flex;
  }

  .icons-footer {
    padding-top: 18.5px;
    padding-bottom: 60px;
  }

  .icons-footer-in {
    padding-top: 18.5px;
    padding-left: 20.25px;
    padding-bottom: 60px;
  }

  .foot {
    margin-left: 89px;
  }

  .tittle-footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 60px;
  }

  .tittle-footer-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 10px;
  }

  .tittle-footer-content:hover {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 10;
    padding-top: 10px;
  }

  .flex-footer {
    margin-left: 20px;
  }

  .vector-footer {
    margin-top: 8px;
  }

  #garis-footer {
    margin-top: 58.82px;
    margin-left: 84px;
    margin-right: 84px;
  }

  .end-footer-text {
    margin-top: 21px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
  }
}

// CSS responsive @media

@media(max-width: 1280px) {
  #nav {
    #end-items {
      margin-right: 250px;
    }
  }
}

@media(max-width: 1200px) {
  #nav {
    .navbar-tittle>img {
      width: 120px;
      margin-left: 0px;
    }

    #end-items {
      margin-right: 20px;
    }
  }

  #slideTestimoni {
    width: 750px;
  }
}

@media(max-width: 1145px) {
  #nav {
    a {
      padding-left: 20px;
      padding-right: 20px;
    }

    .btnSignIn {
      margin-right: 0px;
    }
  }

  .fitur-content {
    padding-right: 80px;
  }

  .fitur-content-right {
    padding-left: 80px;
  }
}

@media(min-width: 1024px) and (min-height: 1000px) {
  #app {
    .content {
      padding-top: 25vh;
    }
  }

  .container {
    .container-row {
      margin-top: 0vh;
    }
  }
}

@media(max-width: 992px) {
  #nav {
    a {
      padding-left: 10px;
    }

    #end-items {
      margin-right: 20px;
    }

    .btnSignIn {
      margin-right: 0px;
    }
  }

  .body.body-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .fitur-content {
    margin-left: 0px;
  }

  .fitur-content-right {
    margin-right: 0px;
  }

  .heading-body,
  .text {
    margin-top: 0px;
    margin-left: 50px;
  }

  .heading-body-right,
  .text-right {
    margin-right: 50px;
  }
}

@media(max-width: 900px) {
  .heading-body {
    margin-top: 0px;
  }

  .illustrasi-wrapper>img {
    display: none;
  }

  .section-footer {
    .foot {
      margin-left: 20px;
    }
  }
}

@media(max-width: 800px) {
  #nav {
    text-align: left;
    padding: 15px;

    a {
      margin-left: -10px;
    }

    .navbar-tittle>img {
      width: 100px;
    }

    #end-items {
      margin-right: 0px;
    }

    .btnSignIn {
      width: 100%;
    }
  }

  #app {
    .content {
      width: fit-content;
      margin-left: 10px;
    }

    .content-paragraph {
      margin-left: 20px;
      margin-top: 20%;
      margin-right: 20px;
      width: fit-content;
    }
  }

  #slideTestimoni {
    width: 380px;
  }

  .unduh-section {
    .unduh-content {
      width: fit-content;
      text-align: justify;
      margin: 20px;
    }
  }

  .container {
    margin-left: 10px;
    margin-right: 10px;

    .img-fitur {
      width: 280px;
    }

    .container-row {
      margin-top: 0vh;

      #content0 {
        margin-right: 80px;
      }
    }
  }

  .fitur-content {
    padding-right: 0px;
  }

  .fitur-content-right {
    padding-left: 0px;
  }

  .heading-body,
  .heading-body-right,
  .text,
  .text-right {
    margin-left: 15px;
    margin-right: 15px;
  }

  .illustrasi-wrapper>img {
    display: none;
  }

  .section-footer {
    .foot {
      margin-left: 20px;
    }
  }
}

// MENGATUR TATA LETAK PADA TINGGI LEBIH DARI 800

@media(max-width: 768px) and (min-height: 800px) {
  #app {
    .content {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 20vh;
    }
  }
}

@media(max-width: 590px) {
  .container {
    .container-row {
      margin-top: 0vh;

      #content0 {
        margin-right: 60px;
      }

      #content1,
      #content2,
      #content3 {
        margin-right: 50px;
      }
    }
  }

  .section-footer {
    .end-footer-text {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media(max-height: 560px) {
  #app {
    .content {
      padding-top: 120px;
    }
  }
}

// MENGATUR TATA LETAK PADA TINGGI LEBIH DARI 800

@media(max-width: 420px) and (min-height: 800px) {
  #app {
    .content {
      padding-top: 0px;
      padding-left: 0px;
    }
  }
}

@media(max-width: 390px) and (min-width: 380px) {
  #app {
    .content {
      text-align: left;
      padding-left: 10px;
    }

    .content-paragraph {
      text-align: left;
    }
  }

  .heading-body,
  .text,
  .text-right {
    margin-left: 15px;
    margin-right: 15px;
  }

  .heading-body-right {
    margin-right: 13px;
    text-align: right;
  }
}

@media(max-width: 380px) {
  #app {
    .content {
      text-align: left;
      padding-left: 10px;
    }

    .content-paragraph {
      text-align: left;
    }
  }

  #slideTestimoni {
    width: 350px;
  }
}

@media(max-width: 360px) {
  #slideTestimoni {
    width: 320px;
  }
}

@media(max-width: 320px) {
  #app {
    .content {
      font-size: 25px;
    }
  }

  #slideTestimoni {
    width: 290px;
  }
}

@media(max-width: 300px) {
  .body.body-content {
    img {
      width: 200px;
    }
  }

  #slideTestimoni {
    width: 280px;
  }
}